/*默认样式*/
body{
	min-height: 240px;
}
/*网页默认结构(三段式结构)*/
.head,.foot{
	width: 100%;
	height: 70px;
	padding: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #2F2F2F;
}
.main{
	width: 100%;
	height: calc(100% - 140px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.center{
	width: 90%;
}
.head > .center{
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.foot > .center{
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main > .center{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*小屏幕适配*/
@media only screen and (max-width: 800px){
	.head,.foot{
		height: 60px;
	}
	.main{
		height: calc(100% - 80px);
	}
	.center{
		width: 98%;
	}
	.head > .center,.foot > .center{
		height: 50px;
	}
}