/*样式排版*/
.head > .center,.foot > .center{
	color: whitesmoke;
	font-family: "微软雅黑";
	font-size: 16px;
}
.head > .center > .logo{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	margin-right: 10px;
}
.head > .center > *:not(.logo){
	height: 100%;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 5px;
	margin-left: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: border-color 0.2s;
}
/*事件动画效果(需要transition属性)*/
.head > .center > a:hover{
	border-color: #2196F3;
}