*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
a{
	text-decoration: blink;
}
/*搜索页面框架*/
.searchcontainer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.searchlogo{
	
}

.searchinput{
	width: 70%;
	height: 40px;
	font-size:17px;
	padding: 8px 6px;
	border-width: 1px;
	border-style: solid;
	border-color: darkgrey;
	border-radius: 5px;
	margin: 40px 0px 30px 0px;
}

.searchbutton{
	background-color: #F8F8F8;
	padding: 8px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: darkgrey;
	border-radius: 3px;
	margin: 0px 0px;
}
#google:hover{
	border-color: #DD7A03;
	background-color: #FEE2C0;
}
#baidu:hover{
	border-color: #087EFB;
	background-color: #E7F2FE;
}