/*Content Padding Border Margin*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*样式前提*/
html{
	height: 100%;
}
body{
	height: 100%;
}

/*菜单栏和内容的排版*/
.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*对老大说的话*/
#letter{
	padding: 5px;
	border: 5px;
	
}